// Specific CSS for your home-page
.plants-container {
  display: flex;
  .plant-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 300px;
    img {
      max-height: 200px;
    }
  }
}

div {
  margin: 0;
  h1 {
    margin: 0;
  }
}
